* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-family: Arial;
  color: #1c1f33;
  margin-top: 20px;
  margin-bottom: 30px;
}

.main-calendar {
  width: 600px;
  height: 200px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.select-class {
  height: 50px;
  line-height: 50px;
  width: 100%;
  border: 1px solid #666370;
  display: flex;
  background-color: white;
}

ul {
  list-style-position: inside;
}

ul,
li {
  width: 100%;
  text-align: center;
  list-style: none;
  font-size: 25px;
  color: #666370;
}

li {
  height: 50px;
  line-height: 50px;
}

li:hover {
  cursor: pointer;
  background-color: #666370;
  color: white;
}

#prevBtn,
#nextBtn {
  font-weight: bold;
  width: 10%;
  height: 100%;
  font-size: 30px;
  background-color: #666370;
  text-align: center;
  color: white;
  cursor: pointer;
}

#prevBtn:hover,
#nextBtn:hover {
  background-color: #9b7874;
}

#prevBtn:active,
#nextBtn:active {
  border: 1.5px solid #666370;
}

#chooseMonth {
  width: 80%;
}

#chooseYear {
  width: 20%;
}

.month:not(.current),
.year:not(.current) {
  opacity: 0;
  pointer-events: none;
}

.current {
  transition: opacity 1s ease;
  background-color: white;
}

.grid-row {
  display: flex;
}

.grid-cell {
  background-color: lightgray;
  width: 17%;
  height:80px;
  border: 0.5px solid #666370;
}

.day-name {
  background-color: #666370;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  font-family: Arial;
}

.day-num {
  background-color:whitesmoke;
  color: #666370;
}

.today {
  background-color: lightblue;
}
